@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.5;
}

header {
    position: relative;
    background: #333;
    color: #fff;
    padding-top: 30px;

    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header div {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
}

.painel_control {
    display: flex;
    flex-flow: column;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.painel_control h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #77aaff;
    padding-bottom: 10px;
}

.dados {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dados p {
    margin-bottom: 10px;
}

.plano {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type="button"] {
    cursor: pointer;
}

.btn_add {
    border: 1px solid black;
    padding: 12px;
    color: black;
    background-color: #F0F0F0;
    text-decoration: none;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.btn {
    padding: 10px 15px;
    margin: 3px;
    border: none;
    background-color: #77aaff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.paginas a {
    padding: 10px;
    margin: 5px 5px;
    border: none;
    background-color: #77aaff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.paginas a:hover {
    background-color: #0056b3;
}
